/* src/components/Popup.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: #651744;
  padding: 20px 40px 30px 40px;
  border-radius: 10px;
  text-align: left;
  width: 300px;
}

.popup-inner h2 {
  font-family: "Poppins";
  margin-bottom: 20px;
}

.popup-inner form {
  display: flex;
  flex-direction: column;
}

.popup-inner label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.popup-inner input,
.popup-inner select {
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 10px;
}
.popup-inner button {
  background-color: #e91e63;
  color: white;
  border: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  margin-top: 10px;
}

.popup-inner p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
}
